body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.color-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#color-text {
    font-size: 2em;
    margin-bottom: 20px;
}

#btn-flip {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
